<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&display=swap" rel="stylesheet")
		link(rel="stylesheet" href="../../../myProject/source/css/bootstrap.css")
		link(rel="stylesheet" href="../../../myProject/source/style.css")

		title DECOBLOG
	body
		header
			.container-fluid
				.row
					.col-xl-12
						button.toogle
							i(class="fas fa-bars") 
						a(href="#Home") DECOBLOG
						button.search
							i(class="fas fa-search")
						button.facb
							i(class="fab fa-facebook-f")
						button.tub
							i(class="fab fa-tumblr")
						button.twit
							i(class="fab fa-twitter")
						button.wifi
							i(class="fas fa-wifi")
						
						

						
		section.header
			.col-xl-12
				.current-slide
					.header-text
						p Latest News
						br
						p.h1 BodyBuilding best
						p.h1 for you health
					.slider-line
						img(src="../../../myProject/img/logo1.png", alt="")
						img(src="../../../myProject/img/logo1.png", alt="")
						img(src="../../../myProject/img/logo1.png", alt="")
			.switching
				.squares
					p#sq1.square(onclick='sqSlide(0)')
					p#sq2.square(onclick='sqSlide(1)')
					p#sq3.square(onclick='sqSlide(2)')
				.arrows
					i#next.fas.fa-long-arrow-alt-left
					p Featured Article
					i#prev.fas.fa-long-arrow-alt-right
								

		section.subscribe
			.container-fluid
				.row
					.h2 Signup to Newsletter
					.col-xl-3
						input(type="text" placeholder="YOUR NAME")
					.col-xl-3
						input(type="email" placeholder="YOUR EMAIL ADDRESS")
					.col-xl-3
						button SUBSCRIBE NOW

		section.cards
			.container-fluid
				.row
					.card.card-1
						i(class="fas fa-pencil-alt")
						p TRAVELING
						p.h3 TRAVEL BEST ADVENTURE
						p JANUARY 25, 2020
						p.card-text Lorem ipsum doloirs sit amet, csatetur adipisicin, sed does eiusmod tehampor incididunt uts laboasre et dolhvaliqua. Ut enim  vem, nostrasuaations ullamco labiosi ut saaliquip exoi asea comoodo Disco choice is the have great work.
							button.button1 READ MORE
						span
							i(class="far fa-comments")
							input(type="text" placeholder="NO COMMENTS")
							i(class="fas fa-wifi")
							i(class="fab fa-twitter")
							i(class="fab fa-tumblr")
							i(class="fab fa-facebook-f")

					.card.card-2
						i(class="fas fa-image")
						p TRAVELING
						p.h3 STANDART IMAGE POST
						p JANUARY 25, 2020
						p.card-text
							button.button2 READ MORE
						span
							i(class="far fa-comments")
							input(type="text" placeholder="6 COMMENTS")
							i(class="fas fa-wifi")
							i(class="fab fa-twitter")
							i(class="fab fa-tumblr")
							i(class="fab fa-facebook-f")

					.card.card-3
						i(class="fas fa-pencil-alt")
						p FASHION
						p.h3 SIMPLE POST STYLE
						p JANUARY 25, 2020
						p.card-text Lorem ipsum doloirs sit amet, csatetur adipisicin, sed does eiusmod tehampor choice is the have great work
							button.button1 READ MORE
						span
							i(class="far fa-comments")
							input(type="text" placeholder="NO COMMENTS")
							i(class="fas fa-wifi")
							i(class="fab fa-twitter")
							i(class="fab fa-tumblr")
							i(class="fab fa-facebook-f")

					.card.card-4

					.card.card-5

					.card.card-6
						i(class="fas fa-quote-right")
						p.card-text As per Lorm ipsum dolor sitamet, consectetur adipisicing elits, sed do Now eiusmod tempor havei ut labores et dolore magna aliqusa. Ut wenim ad minim veniam, quis its a snostrud now is the ullamco aliquip ex ea commodo 
						div
							p NATHALIA ALEXY

					.card.card-7.card7
						i(class="fas fa-image")
						p ADVENTURE
						p.h3 AWESOME GALERY POST
						p JANUARY 25, 2020
						p.card-text
							button.button2 READ MORE
						span
							i(class="far fa-comments")
							input(type="text" placeholder="6 COMMENTS")
							i(class="fas fa-wifi")
							i(class="fab fa-twitter")
							i(class="fab fa-tumblr")
							i(class="fab fa-facebook-f")

					.card.card-8
						i(class="fas fa-pencil-alt")
						p LIFESTYLE
						p.h3 WITHOUT IMAGE POST
						p JANUARY 25, 2020
						p.card-text Lorem ipsum doloirs sit amet, csatetur adipisicin, sed does eiusmod tehampor incididunt uts laboasre et dolhvaliqua. Ut enim  vem, nostrasuaations ullamco labiosi ut saaliquip exoi asea comoodo Disco choice is the have great work.
							button.button1 READ MORE
						span
							i(class="far fa-comments")
							input(type="text" placeholder="NO COMMENTS")
							i(class="fas fa-wifi")
							i(class="fab fa-twitter")
							i(class="fab fa-tumblr")
							i(class="fab fa-facebook-f")

					.card.card-9
						p TRAVELING
						p.h3 TRAVEL BEST ADVENTURE
						p JANUARY 25, 2020
						p.card-text Lorem ipsum doloirs sit amet, csatetur adipisicin, sed does eiusmod tehampor incididunt uts laboasre et dolhvaliqua. Ut enim  vem, nostrasuaations ullamco labiosi ut saaliquip exoi asea comoodotehampor incididunt uts laboasre etsaiusmod tehampor incididunt uts havlaboasre et dolhvaliqua. Ut enim  vem,choice is the.
							button.button1 READ MORE


					.card.card-10
						p DESIGNER
						p.h3 VIDEO IMAGE POST STYLE
						p JANUARY 25, 2020
						p.card-text A CONAN staffer is learning the rules of the in  road, with a little help from Look out, fellow drivers!
						span
							i(class="far fa-comments")
							input(type="text" placeholder="6 COMMENTS")
							i(class="fas fa-wifi")
							i(class="fab fa-twitter")
							i(class="fab fa-tumblr")
							i(class="fab fa-facebook-f")
					.card.card-11
						i(class="fas fa-link")
						a(href="") http://www.abcdomainname.com/ screen/discovery
						.white-band
						i(class="fab fa-windows")

					.card.card-12
						i(class="fas fa-music")
						p AUDIO MUSIC
						p.h3 TRAVEL BEST ADVENTURE
						p JANUARY 25, 2020
						div
							img(src="../img/elipce.png", alt="")

		.footer
			.container-fluid
				.row
					.col-xl-3.col-md-3.col-sm-6.about
						.h4 ABOUT BLOG

						p Lorem ipsum dolor sit amet, conser adipisicing  esse cillum dolore nulla pariatur. 
						.autograph
							p Nathaliya Jhone
					.col-xl-3.col-md-3.col-sm-6.tweets
						.h4 LATEST TWEETS

						i(class="fab fa-twitter")
						span @Twitter@magicalrebekah
						p.tweet-1 Developer Advocate @heyval isaiyou knows the very well is about things .

						i(class="fab fa-twitter")
						span @Twitter@magicalrebekah
						p.tweet-2 Developer Advocate hav a great work this knows the very well is about things .
					.col-xl-3.col-md-3.col-sm-6.instagram
						.h4 FLOW ME INSTAGRAM
						.instagram-blog
							.insta-1
							.insta-2
							.insta-3
							.insta-4
							.insta-5
							.insta-6
					.col-xl-3.col-md-3.col-sm-6.comment
						.h4 LATEST COMMENT
						p.commentator From Alex :
						p Developer Advocate @heyval isaiyou know the very well is talking about things .
						.band
						p.commentator From John Doe :
						p Developer Advocate @heyval isaiyou know the very well is talking about things .
		footer.copyright ©2020 copyright .all right reserved by awesome theme   i   terms policy   i   disclaimer




						












	












		script(src="../../../myProject/source/js/jquery-3.5.1.min.js" stop="off")
		script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
		script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous")
		script(src="../../../myProject/source/js/main.js")